body{
	background-color: #ebebe0;
	padding:0px;
	margin:0% 12%;
	font-family: kul;
}
.chosen{
	background-color: white;
	color: #ff9999;
	border-color: #ff9999;
}
#logo{
	width:110px;
 	height:90px;
 	display: inline;
 	border-radius: 25px 0px 25px 0px;
}
ul{ 
	padding:10px 15px;
	display:inline-block;
	
}
li{
	list-style-type: none;	
	float:left;
	border: 2px solid white;
	margin:2px;
	padding:5px 10px;
	border-radius: 25px 0px 25px 0px;
	background-color:  #ff9999;
}
a{
	color:white;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 25px; 
	text-decoration: none;
}
li:hover{
	background-color:white;
	color:#ff9999;
	border: 2px solid #ff9999;
}

.linkovi{
	color:#4dd2ff;
	font-weight: bold;
	font-size: 15px; 
}
.linkovi:hover{
	border:2px solid #4dd2ff;
	border-radius:90%;
	padding:5px;
	font-size: 1em;
}
#insta{
	color:#ff9999;
	font-size:18px;
	border: 2px solid #ff9999;
	border-radius: 15px;
	padding:5px;
	font-family: kul;
	letter-spacing:3px;
	margin:25px 20%;
}
#insta:hover{
	color:white;
	background-color: #ff9999;
}
.asideslika{
	height: 100px;
	width:120px;
	border-radius: 25px;
	border:2px solid #ff9999;
}
#glavni{	
	width:95%;
	border:3px solid #ff9999;
	background-color: #ffe6ff;
	padding: 10px 25px;
	border-radius: 15px;	
}
section{
	display:inline-block;
}
h1,h2{
	color:#ff9999;
	font-weight:bold;
}
.uvodni{
	background-color:white;
	border:1px solid #ff9999;
	border-radius:15px;
}
article{
	float:left;
	width:80%;
	padding: 10px 70px 10px 20px;
	font-size: 20px;
	background-color: white;
	font-weight: bold;
	color:#ff9999;
	border:1px solid #ff9999;
	border-radius: 15px; 
}
aside{
	background-color: white;
	color:#ff9999;
	font-weight: bold;
	width:270px;
	display:inline-block;
	float:right;
	border: 3px solid #ff9999;
	padding:15px 10px;
	border-radius:15px;
}
span{
	color:white;
}
.fb-like{
	background-image:#ff9999;
}

 footer{
 	clear:both;
 	width:100%;
 	margin-top:10px;
 	margin-bottom:10px;
 	padding:10px;
 	background-color: #ff9999;
	text-align:center;
 }
 .stranice{
 	color:black;
 	letter-spacing:0px;
 	font-size:15px;
 }
 .simboli{
 	height:17px;
 	width:17px;	
 	color:black;
 }
 .simboli,.stranice:hover{
	color: #ebebe0;
	font-size:1em;
 } 
 .about{
 	display:inline-block;
 	border:2px solid #ff9999;
 	padding:15px 20px;
 	background-color: white;
 	margin-bottom:10px;
 }
 .glavni{
 	margin-left:200px;
 	height:200px;
 	width: 170px;
 	border-radius: 20px;
 }
 .radnici{
 	margin-left:50px;
	height:200px;
	width:300px;
	border-radius:20px;
 }
.produkti{
	height:150px;
	width:180px;
	border-radius:30px 0px 30px 0px;
}
.produkti:hover{
	box-shadow: 5px 8px #ff9999;
}
#torte, #mafini{
	border-bottom:5px solid white;
	display:inline;
	margin-right:150px;
	margin-bottom:15px;
	font-size:15px;
}
th,td{
	padding:8px;
	border-bottom:2px solid white;
}
.ham{
	width:70px;
}
nav{
	display:none;
}
.padajuci { 
    position: relative;
    display: inline-block;
}

.padajuciE { 
    display: none;
    position: absolute;
    background-color: white;
    border-color:#ff9999;
    min-width: 150px;
    z-index:10;
}
.padajuciE a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-decoration: italic;
}

.padajuci:hover .padajuciE {display: block;}

@media screen and (min-width:650px){
	nav{display:inline;}
	.ham{display:none;}
	.padajuciE{display:none;}
} 
@media screen and (max-width:600px){
	nav{display: none;}
	.ham{display: inline;}
	body{margin:0px 5px;}	
	aside{display:inline-block;}
	.asideslika{display:none;}
	article{width:350px;}
}
 .forma{
 	background-image:linear-gradient(#ff9999,lightblue);
 	padding:20px;
 }
#kontaktforma{
	display:inline; 
   	width:900px;
    height: 550px;  
}
input[type=text], input[type=email], select{
	border:2px solid silver;
	padding:12px;
	border-radius: 5px 20px;
	width:45%;
}
textarea{
	width:45%;
	height: 100px;
	border-radius: 20px;
	padding:10px;
}
.dugmici{
	border:2px solid #ff9999;
	background:white;
	color:#ff9999;
	border-radius:45px;
	margin-bottom:20px;
	margin-left:30px;
	margin-right:10px;
	padding:10px;
	font-size:27px:;
}
.dugmici:hover{
	border:2px solid white;
	background-color: #ff9999;
	color:white;
	font-size: 1em;
}
#animacija{
	display:inline;
	position:relative;
	top:30px;
	right:50px;
	float:right;
	height:120px;
	width:120px;
	animation:Animacija 5s 3; 
}
@keyframes Animacija{
	0%{top:30px; right:50px;}
	50%{ top:380px; right:50px;}
	100%{top:30px; right:50px;}
} 
